body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  text-align: center;
}
.gallery-container {
  margin: 20px;
}

.gallery-container .heading {
    padding-bottom: 10px;
    text-align: center;
}
.heading h3 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}
.heading h3 span {
    font-weight: 100;
    color: #3b3a3a;
}

.filter-buttons button {
    margin: 5px;
    padding: 12px 20px;
    border: none;
    background: linear-gradient(135deg, #300b1a, #3a0911);
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.filter-buttons button:hover {
    background: linear-gradient(135deg, #911428, #690e34);
            transform: scale(1.1);
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
.lightbox img {
  max-width: 80%;
  max-height: 80%;
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

a {
    margin: 10px;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    background: linear-gradient(135deg, #300b1a, #3a0911);
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
a:hover{
    background: linear-gradient(135deg, #911428, #690e34);
            transform: scale(1.1);
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}
